/* 
------------------------------------------
BASE STYLESHEET FOR GLOBAL STYLING
------------------------------------------
*/
@import "variables.less";
@import "mixins.less";

/* 
------------------------------------------
RESET CSS
------------------------------------------
*/

body{
    font-family: @base-font;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6,
figure,
ul,
ol{
    margin: 0;
    padding:0;
}

a{
    color: @primary-text-colour;

    &:hover{color: @primary-text-colour;text-decoration: underline;}
}


/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/

@font-face {
    font-family: 'CorporateARegular';
    src: url('../typekit/corporate-a-regular/corporatea-regular-webfont.eot');
    src: url('../typekit/corporate-a-regular/corporatea-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typekit/corporate-a-regular/corporatea-regular-webfont.woff2') format('woff2'),
         url('../typekit/corporate-a-regular/corporatea-regular-webfont.woff') format('woff'),
         url('../typekit/corporate-a-regular/corporatea-regular-webfont.ttf') format('truetype'),
         url('../typekit/corporate-a-regular/corporatea-regular-webfont.svg#CorporateARegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorporateACondensed';
    src: url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.eot');
    src: url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.woff2') format('woff2'),
         url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.woff') format('woff'),
         url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.ttf') format('truetype'),
         url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.svg#CorporateACondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'corporateSRegular';
    src: url('../typekit/corporate-s-regular/corporates-regular-webfont.eot');
    src: url('../typekit/corporate-s-regular/corporates-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typekit/corporate-s-regular/corporates-regular-webfont.woff2') format('woff2'),
         url('../typekit/corporate-s-regular/corporates-regular-webfont.woff') format('woff'),
         url('../typekit/corporate-s-regular/corporates-regular-webfont.ttf') format('truetype'),
         url('../typekit/corporate-s-regular/corporates-regular-webfont.svg#corporateSDemiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'corporateSDemiRegular';
    src: url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.eot');
    src: url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.woff2') format('woff2'),
         url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.woff') format('woff'),
         url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.ttf') format('truetype'),
         url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.svg#corporateSDemiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: @header-font;
}

h1{font-size: 30px;}
h2{font-size: 25px;}
h3{font-size: 20px;}

p{font-size: 15px;}


/* 
------------------------------------------
GLOBAL STYLING
------------------------------------------
*/

header, #content, footer{width: 100%;}

.no-margin{margin-left: 0;margin-right: 0;}
.no-padding{padding-left: 0;padding-right: 0;}

.clearfix{clear: both;}

/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn{
    width: 200px;
    height: 40px;
    display: block;
    font-family: @base-font;
    font-size: 14px;
    color:@primary-text-colour;
    line-height: 40px;
    text-align: center;
    background: @primary-button-colour;
    border: none;
    outline: none;

    &:focus,
    &:hover{
        color: @primary-text-colour;
        outline: none;
        background: @button-hover-colour;
        text-decoration: none;
    }
}

button#print-btn{
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    font-family: @base-font;
    font-size: 24px;
    color:@primary-text-colour;
    line-height: 40px;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;

    &:focus,
    &:hover{
        color: @primary-text-colour;
        outline: none;
        text-decoration: none;
    }
}

button#search-btn{
    width: 200px;
    height: 55px;
    font-family: @base-font;
    font-size: 20px;
    color:@primary-text-colour;
    line-height: 40px;
    text-align: center;
    background: #00a8e9;
    border: none;
    outline: none;
    margin:60px 0 80px 0;

    &:focus,
    &:hover{
        color: @primary-text-colour;
    }
}

button#expand-warranty-btn{
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    font-family: @base-font;
    font-size: 20px;
    color:#00adef;
    text-align: center;
    margin:-15px 0 0 0;
    line-height: 35px;
    background: transparent;
    border: solid 5px #00adef;
    outline: none;
    .border-radius(50%);
    .transition(all 0.5s ease);

    .fa-chevron-up{opacity: 0;visibility: 0;display: none;.transition(all 0.5s ease);}

    &:focus,
    &:hover{
        color:#00adef;
        outline: none;
        text-decoration: none;
    }

    &.transform{
        .fa-chevron-down{opacity: 0;visibility: 0;display: none;.transition(all 0.5s ease);}
        .fa-chevron-up{opacity: 1;visibility: visible;display: block;.transition(all 0.5s ease);}
    }
}

.dropdown{
    button{
        height: 55px;
        color: @primary-brand-colour;
        text-align: left;
        background: @primary-text-colour;
        .border-radius(2px);

        &:first-child{
            width: 270px;
            position: relative;
            &:after{
                width: 2px;
                height: 50px;
                content: '';
                position: absolute;
                top:0;
                right:0;
                background: #636363;
            }
        }

        &:nth-child(2){width: 58px;text-align: center;}
    }

    .dropdown-menu{
        width: 100.5%;
        margin: -1px -1px 0 0;
        padding: 0;
        .border-radius(0);
        a{
            width: 100%;
            padding: 15px 10px;
            display: block;
            color: @primary-brand-colour;
            &:hover{
                background: #fafafa;
            }
        }
    }
    
}