/* 
------------------------------------------
BASE STYLESHEET FOR GLOBAL STYLING
------------------------------------------
*/
/* COLOUR VARIABLES */
/* 
------------------------------------------
RESET CSS
------------------------------------------
*/
body {
  font-family: 'corporateSRegular', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/
@font-face {
  font-family: 'CorporateARegular';
  src: url('../typekit/corporate-a-regular/corporatea-regular-webfont.eot');
  src: url('../typekit/corporate-a-regular/corporatea-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../typekit/corporate-a-regular/corporatea-regular-webfont.woff2') format('woff2'), url('../typekit/corporate-a-regular/corporatea-regular-webfont.woff') format('woff'), url('../typekit/corporate-a-regular/corporatea-regular-webfont.ttf') format('truetype'), url('../typekit/corporate-a-regular/corporatea-regular-webfont.svg#CorporateARegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CorporateACondensed';
  src: url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.eot');
  src: url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.woff2') format('woff2'), url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.woff') format('woff'), url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.ttf') format('truetype'), url('../typekit/corporate-a-condensed/corporateacon-regular-webfont.svg#CorporateACondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corporateSRegular';
  src: url('../typekit/corporate-s-regular/corporates-regular-webfont.eot');
  src: url('../typekit/corporate-s-regular/corporates-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../typekit/corporate-s-regular/corporates-regular-webfont.woff2') format('woff2'), url('../typekit/corporate-s-regular/corporates-regular-webfont.woff') format('woff'), url('../typekit/corporate-s-regular/corporates-regular-webfont.ttf') format('truetype'), url('../typekit/corporate-s-regular/corporates-regular-webfont.svg#corporateSDemiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corporateSDemiRegular';
  src: url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.eot');
  src: url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.woff2') format('woff2'), url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.woff') format('woff'), url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.ttf') format('truetype'), url('../typekit/corporate-s-demi-regular/corporates_demi_regular-webfont.svg#corporateSDemiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CorporateARegular', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
/* 
------------------------------------------
GLOBAL STYLING
------------------------------------------
*/
header,
#content,
footer {
  width: 100%;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.clearfix {
  clear: both;
}
/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn {
  width: 200px;
  height: 40px;
  display: block;
  font-family: 'corporateSRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  background: #444444;
  border: none;
  outline: none;
}
.generic-btn:focus,
.generic-btn:hover {
  color: #ffffff;
  outline: none;
  background: #222222;
  text-decoration: none;
}
button#print-btn {
  width: 40px;
  height: 40px;
  float: right;
  display: block;
  font-family: 'corporateSRegular', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
}
button#print-btn:focus,
button#print-btn:hover {
  color: #ffffff;
  outline: none;
  text-decoration: none;
}
button#search-btn {
  width: 200px;
  height: 55px;
  font-family: 'corporateSRegular', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  background: #00a8e9;
  border: none;
  outline: none;
  margin: 60px 0 80px 0;
}
button#search-btn:focus,
button#search-btn:hover {
  color: #ffffff;
}
button#expand-warranty-btn {
  width: 40px;
  height: 40px;
  float: right;
  display: block;
  font-family: 'corporateSRegular', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #00adef;
  text-align: center;
  margin: -15px 0 0 0;
  line-height: 35px;
  background: transparent;
  border: solid 5px #00adef;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button#expand-warranty-btn .fa-chevron-up {
  opacity: 0;
  visibility: 0;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button#expand-warranty-btn:focus,
button#expand-warranty-btn:hover {
  color: #00adef;
  outline: none;
  text-decoration: none;
}
button#expand-warranty-btn.transform .fa-chevron-down {
  opacity: 0;
  visibility: 0;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button#expand-warranty-btn.transform .fa-chevron-up {
  opacity: 1;
  visibility: visible;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dropdown button {
  height: 55px;
  color: #101010;
  text-align: left;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.dropdown button:first-child {
  width: 270px;
  position: relative;
}
.dropdown button:first-child:after {
  width: 2px;
  height: 50px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: #636363;
}
.dropdown button:nth-child(2) {
  width: 58px;
  text-align: center;
}
.dropdown .dropdown-menu {
  width: 100.5%;
  margin: -1px -1px 0 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown .dropdown-menu a {
  width: 100%;
  padding: 15px 10px;
  display: block;
  color: #101010;
}
.dropdown .dropdown-menu a:hover {
  background: #fafafa;
}
