/* 
------------------------------------------
LAYOUT STYLESHEET FOR PAGE LAYOUTS
------------------------------------------
*/
@import "variables.less";
@import "mixins.less";


section{margin: 40px 0;}

/* 
------------------------------------------
HEADER
------------------------------------------
*/

header{
    padding:20px 0;
}


/* 
------------------------------------------
FOOTER
------------------------------------------
*/

footer{
    padding:15px 0;
    background: @header-footer-bg;

    .legal{
        ul{
            li{
                float: left;
                list-style: none;
                a{
                    font-family: DaimlerCS-Regular,sans-serif;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: normal;
                }

                &:nth-child(2n+1){padding: 0 13px;}
            }
        }
    }
}

/* 
------------------------------------------
LOGIN MODAL
------------------------------------------
*/

.modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                padding:20px 0 20px 20px;
                h2{
                    color: @primary-brand-colour;
                    font-weight: normal;
                    line-height: 20px;

                    img{
                        margin: -8px 0 0 0;
                        padding:0 8px 0 0;
                    }
                }
            }

            .modal-body{
                padding:0 0 20px 0;
                background: #f2f2f2;

                p.login-intro{
                    width: 100%;
                    padding:10px 0 10px 20px;
                    color: @primary-brand-colour;
                    background: @primary-text-colour;
                }

                .row{padding:0 80px;}

                label{
                    color: @primary-brand-colour;
                    font-weight: normal;
                    padding:20px 0 0 0;
                }

                a.forgot-password{color:#00adef;padding:15px 0 20px 0;display: block;}

                p{color: @primary-brand-colour;}

                input[type="text"],
                input[type="password"]{
                    width: 100%;
                    height: 35px;
                    color: @primary-text-colour;
                    padding:0 0 0 10px;
                    border:solid 1px #999999;
                    background: @primary-text-colour;
                }

                button.login-btn-group{
                    width: 100%;
                    height: 35px;
                    border: none;
                    font-weight: 600;
                    .border-radius(2px);
                }

                button#login-btn{
                    margin-top:20px;
                    background: #00a8e9; 
                    background: -moz-linear-gradient(top, #00a8e9 1%, #008dc2 50%, #0078a5 100%); 
                    background: -webkit-linear-gradient(top, #00a8e9 1%,#008dc2 50%,#0078a5 100%); 
                    background: linear-gradient(to bottom, #00a8e9 1%,#008dc2 50%,#0078a5 100%); 
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8e9', endColorstr='#0078a5',GradientType=0 ); 
                }

                button#register-btn{
                    background: @primary-brand-colour;
                }
            } /* END MODAL BODY */

            .modal-footer{
                ul{
                    li{
                        list-style: none;
                        float: left;
                        padding:0 5px;
                        color: @primary-brand-colour;

                        a{
                            color: @primary-brand-colour;

                            &:focus,
                            &:hover{
                                color: @primary-brand-colour;
                                text-decoration: underline;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
------------------------------------------
HERO BANNER
------------------------------------------
*/

.hero{
    width: 100%;
    height: 100%;
    max-height: 530px;
    margin:45px 0;
    overflow: hidden;
}



/* 
------------------------------------------
INTRODUCTION
------------------------------------------
*/
.introduction{
    padding:0 80px;
    h1{margin:10px 0 0 0;}
    h2{margin:15px 0 0 0;}

    input[type="text"]{
        width: 100%;
        height: 55px;
        padding:0 0 0 20px;
        background: @primary-text-colour;
        border: none;
    }

    .dropdown{margin-left: 20px;}

    .vin-or-customerID{
        padding: 50px 0;
        text-align: center;

        span{
            font-family: @header-font;
            font-size: 20px;
            position: relative;

            &:before{
                width: 140px;
                height: 2px;
                background: #636363;
                position: absolute;
                top:10px;
                left: -170px;                
                content: '';
            }

            &:after{
                width: 140px;
                height: 2px;
                background: #636363;
                position: absolute;
                top:10px;
                left: 60px;                
                content: '';
            }
        }
    }
}



/* 
------------------------------------------
INFORMATION SECTIONS
------------------------------------------
*/

.info-sections{
    width: 100%;
    max-width: 1280px;
    padding: 75px 50px;
    background: @info-section-bg;

    h2{padding:0;}

    .info-block{
        width: 20%;
        height: 150px;
        float: left;
        margin: 25px 0 50px 0;
        padding:20px 15px;
        border-right:solid 1px #636363;

        h3{padding:0 0 20px 0;}

        &:last-child{border-right:none;}

        ul{margin:0 0 0 20px;}
    }

    .button-group{
        width: 650px;
        margin: 0 auto;

        .generic-btn{
            float: left;
            margin: 0 20px 0 0;

            &:last-child{
                margin: 0;
            }
        }
    }

    &#service-history{
        background: #333333;

        .info-block{
            margin: 25px 0 0 0;

            h3{padding: 0 0 10px 0;}

            p{padding: 1px 0;}
        }
    }
}


/* 
------------------------------------------
WARRANTY EXPAND SECTIONS
------------------------------------------
*/

.warranty-expand-info{
    min-height:160px;

    #expanded{
        padding: 40px 0 0 0;
    }
}
    
