/* 
------------------------------------------
LAYOUT STYLESHEET FOR PAGE LAYOUTS
------------------------------------------
*/
/* COLOUR VARIABLES */
section {
  margin: 40px 0;
}
/* 
------------------------------------------
HEADER
------------------------------------------
*/
header {
  padding: 20px 0;
}
/* 
------------------------------------------
FOOTER
------------------------------------------
*/
footer {
  padding: 15px 0;
  background: #000000;
}
footer .legal ul li {
  float: left;
  list-style: none;
}
footer .legal ul li a {
  font-family: DaimlerCS-Regular, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}
footer .legal ul li:nth-child(2n+1) {
  padding: 0 13px;
}
/* 
------------------------------------------
LOGIN MODAL
------------------------------------------
*/
.modal .modal-dialog .modal-content {
  /* END MODAL BODY */
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 20px 0 20px 20px;
}
.modal .modal-dialog .modal-content .modal-header h2 {
  color: #101010;
  font-weight: normal;
  line-height: 20px;
}
.modal .modal-dialog .modal-content .modal-header h2 img {
  margin: -8px 0 0 0;
  padding: 0 8px 0 0;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 0 0 20px 0;
  background: #f2f2f2;
}
.modal .modal-dialog .modal-content .modal-body p.login-intro {
  width: 100%;
  padding: 10px 0 10px 20px;
  color: #101010;
  background: #ffffff;
}
.modal .modal-dialog .modal-content .modal-body .row {
  padding: 0 80px;
}
.modal .modal-dialog .modal-content .modal-body label {
  color: #101010;
  font-weight: normal;
  padding: 20px 0 0 0;
}
.modal .modal-dialog .modal-content .modal-body a.forgot-password {
  color: #00adef;
  padding: 15px 0 20px 0;
  display: block;
}
.modal .modal-dialog .modal-content .modal-body p {
  color: #101010;
}
.modal .modal-dialog .modal-content .modal-body input[type="text"],
.modal .modal-dialog .modal-content .modal-body input[type="password"] {
  width: 100%;
  height: 35px;
  color: #ffffff;
  padding: 0 0 0 10px;
  border: solid 1px #999999;
  background: #ffffff;
}
.modal .modal-dialog .modal-content .modal-body button.login-btn-group {
  width: 100%;
  height: 35px;
  border: none;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.modal .modal-dialog .modal-content .modal-body button#login-btn {
  margin-top: 20px;
  background: #00a8e9;
  background: -moz-linear-gradient(top, #00a8e9 1%, #008dc2 50%, #0078a5 100%);
  background: -webkit-linear-gradient(top, #00a8e9 1%, #008dc2 50%, #0078a5 100%);
  background: linear-gradient(to bottom, #00a8e9 1%, #008dc2 50%, #0078a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a8e9', endColorstr='#0078a5', GradientType=0);
}
.modal .modal-dialog .modal-content .modal-body button#register-btn {
  background: #101010;
}
.modal .modal-dialog .modal-content .modal-footer ul li {
  list-style: none;
  float: left;
  padding: 0 5px;
  color: #101010;
}
.modal .modal-dialog .modal-content .modal-footer ul li a {
  color: #101010;
}
.modal .modal-dialog .modal-content .modal-footer ul li a:focus,
.modal .modal-dialog .modal-content .modal-footer ul li a:hover {
  color: #101010;
  text-decoration: underline;
  outline: none;
}
/* 
------------------------------------------
HERO BANNER
------------------------------------------
*/
.hero {
  width: 100%;
  height: 100%;
  max-height: 530px;
  margin: 45px 0;
  overflow: hidden;
}
/* 
------------------------------------------
INTRODUCTION
------------------------------------------
*/
.introduction {
  padding: 0 80px;
}
.introduction h1 {
  margin: 10px 0 0 0;
}
.introduction h2 {
  margin: 15px 0 0 0;
}
.introduction input[type="text"] {
  width: 100%;
  height: 55px;
  padding: 0 0 0 20px;
  background: #ffffff;
  border: none;
}
.introduction .dropdown {
  margin-left: 20px;
}
.introduction .vin-or-customerID {
  padding: 50px 0;
  text-align: center;
}
.introduction .vin-or-customerID span {
  font-family: 'CorporateARegular', Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
}
.introduction .vin-or-customerID span:before {
  width: 140px;
  height: 2px;
  background: #636363;
  position: absolute;
  top: 10px;
  left: -170px;
  content: '';
}
.introduction .vin-or-customerID span:after {
  width: 140px;
  height: 2px;
  background: #636363;
  position: absolute;
  top: 10px;
  left: 60px;
  content: '';
}
/* 
------------------------------------------
INFORMATION SECTIONS
------------------------------------------
*/
.info-sections {
  width: 100%;
  max-width: 1280px;
  padding: 75px 50px;
  background: #1e1e1e;
}
.info-sections h2 {
  padding: 0;
}
.info-sections .info-block {
  width: 20%;
  height: 150px;
  float: left;
  margin: 25px 0 50px 0;
  padding: 20px 15px;
  border-right: solid 1px #636363;
}
.info-sections .info-block h3 {
  padding: 0 0 20px 0;
}
.info-sections .info-block:last-child {
  border-right: none;
}
.info-sections .info-block ul {
  margin: 0 0 0 20px;
}
.info-sections .button-group {
  width: 650px;
  margin: 0 auto;
}
.info-sections .button-group .generic-btn {
  float: left;
  margin: 0 20px 0 0;
}
.info-sections .button-group .generic-btn:last-child {
  margin: 0;
}
.info-sections#service-history {
  background: #333333;
}
.info-sections#service-history .info-block {
  margin: 25px 0 0 0;
}
.info-sections#service-history .info-block h3 {
  padding: 0 0 10px 0;
}
.info-sections#service-history .info-block p {
  padding: 1px 0;
}
/* 
------------------------------------------
WARRANTY EXPAND SECTIONS
------------------------------------------
*/
.warranty-expand-info {
  min-height: 160px;
}
.warranty-expand-info #expanded {
  padding: 40px 0 0 0;
}
