.transition-all(@transition){
    -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
}

.border-radius(@radius) {
 -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
         border-radius: @radius;
}

.box-shadow(@arguments) {
 -webkit-box-shadow: @arguments;
 -moz-box-shadow: @arguments;
 box-shadow: @arguments;
}

.text-shadow(@arguments) {
 -webkit-text-shadow: @arguments;
 -moz-text-shadow: @arguments;
 text-shadow: @arguments;
}

.transition(@arguments){
   -webkit-transition: @arguments;
   -moz-transition: @arguments;
   -o-transition: @arguments;
   transition: @arguments;
}
.appearance(@arguments){
   -webkit-appearance: @arguments;
   -moz-appearance: @arguments;
   appearance: @arguments;
}