/* 
------------------------------------------
COLOUR STYLESHEET FOR ELEMENT COLOURS
------------------------------------------
*/

@import "variables.less";


body{color: @primary-text-colour;background: @primary-brand-colour;}


/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/




/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn{
    color: @primary-text-colour;
    &:hover{background: @button-hover-colour;}
}


/* 
------------------------------------------
HEADER
------------------------------------------
*/

header{background: @header-footer-bg;}

