/* 
------------------------------------------
COLOUR STYLESHEET FOR ELEMENT COLOURS
------------------------------------------
*/
/* COLOUR VARIABLES */
body {
  color: #ffffff;
  background: #101010;
}
/* 
------------------------------------------
TYPEKIT
------------------------------------------
*/
/* 
------------------------------------------
BUTTONS
------------------------------------------
*/
.generic-btn {
  color: #ffffff;
}
.generic-btn:hover {
  background: #222222;
}
/* 
------------------------------------------
HEADER
------------------------------------------
*/
header {
  background: #000000;
}
