/* COLOUR VARIABLES */
/* ==============
  Responsive
===================*/
@media only screen and (min-width: 1025px) {
  .container {
    width: 100%;
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .introduction {
    padding: 0 20px;
  }
  .introduction#content-page {
    padding: 0 40px;
  }
  .introduction .dropdown {
    margin: 10px 0 0 0;
  }
  .introduction .dropdown button:first-child {
    width: 260px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .introduction {
    padding: 0 20px;
  }
  .introduction#content-page {
    padding: 0 40px;
  }
  .introduction .dropdown {
    margin-left: 0;
  }
  .introduction .dropdown button:first-child {
    width: 260px;
  }
  .introduction .col-sm-12 {
    padding: 0;
  }
  .introduction h2,
  .introduction h2.col-sm-12 {
    padding-bottom: 10px;
  }
  .introduction .btn-group {
    float: left;
  }
  .info-sections {
    padding: 50px 25px;
  }
  .info-sections .info-block {
    width: 33.333%;
  }
  .info-sections .info-block:nth-child(3) {
    border-right: none;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .introduction {
    padding: 0 20px;
  }
  .introduction .col-xs-12 {
    padding: 0;
    margin: 0 0 20px 0;
  }
  .introduction .btn-group {
    width: 100%;
  }
  .introduction button#search-btn {
    width: 100%;
  }
  .introduction#content-page {
    padding: 0 40px;
  }
  .info-sections {
    padding: 50px 25px;
  }
  .info-sections h2 {
    padding: 0 0 20px 0;
  }
  .info-sections .info-block {
    width: 100%;
    border-right: none;
    margin: 0;
    border-bottom: solid 1px #636363;
  }
  .info-sections .button-group {
    width: 100%;
  }
  .info-sections .button-group .generic-btn {
    width: 100%;
    margin: 10px 0;
  }
  .info-sections .button-group .generic-btn:last-child {
    margin: 10px 0;
  }
  .modal .modal-dialog .modal-content .modal-body .row {
    padding: 0 40px;
  }
}
/* END  */
