
/* COLOUR VARIABLES */ 

@primary-brand-colour:#101010;
@header-footer-bg:#000000;
@section-bg:#1e1e1e;
@primary-text-colour:#ffffff;

@primary-button-colour:#444444;
@button-hover-colour:#222222;
@divider-colour:#444444;
@info-section-bg:#1e1e1e;

@base-font:'corporateSRegular', Arial, Helvetica, sans-serif;
@header-font:'CorporateARegular', Arial, Helvetica, sans-serif;

