@font-face {
  font-family: 'Mercedes-Benz-font-icons';
  src:
    url('../fonts/mb-icon-font/Mercedes-Benz-font-icons.ttf') format('truetype'),
    url('../fonts/mb-icon-font/Mercedes-Benz-font-icons.woff') format('woff'),
    url('../fonts/mb-icon-font/Mercedes-Benz-font-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mb-icon-"], [class*=" mb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Mercedes-Benz-font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mb-icon-contact-dealer:before {
  content: "\e91f";
}
.mb-icon-fuel-info:before {
  content: "\e920";
}
.mb-icon-parked-vehicle-locator:before {
  content: "\e921";
}
.mb-icon-parking-info:before {
  content: "\e922";
}
.mb-icon-roadside-assistance:before {
  content: "\e923";
}
.mb-icon-info:before {
  content: "\e924";
}
.mb-icon-search:before {
  content: "\e900";
}
.mb-icon-close:before {
  content: "\e901";
}
.mb-icon-chevron-left:before {
  content: "\e902";
}
.mb-icon-chevron-up:before {
  content: "\e903";
}
.mb-icon-chevron-down:before {
  content: "\e91d";
}
.mb-icon-chevron-right:before {
  content: "\e91e";
}
.mb-icon-menu:before {
  content: "\e904";
}
.mb-icon-locate-a-dealership:before {
  content: "\e905";
}
.mb-icon-places-to-go:before {
  content: "\e906";
}
.mb-icon-info-bubble:before {
  content: "\e907";
}
.mb-icon-mb-logo-invert:before {
  content: "\e908";
}
.mb-icon-mb-logo:before {
  content: "\e909";
}
.mb-icon-share:before {
  content: "\e90a";
}
.mb-icon-envelope:before {
  content: "\e90b";
}
.mb-icon-email:before {
  content: "\e90c";
}
.mb-icon-people-to-watch:before {
  content: "\e90d";
}
.mb-icon-pre-owned:before {
  content: "\e90e";
}
.mb-icon-mblife:before {
  content: "\e90f";
}
.mb-icon-featured:before {
  content: "\e910";
}
.mb-icon-vehicles:before {
  content: "\e911";
}
.mb-icon-parts-services:before {
  content: "\e912";
}
.mb-icon-amg:before {
  content: "\e913";
}
.mb-icon-nomenclature:before {
  content: "\e914";
}
.mb-icon-test-drive:before {
  content: "\e915";
}
.mb-icon-shop:before {
  content: "\e916";
}
.mb-icon-book-service:before {
  content: "\e917";
}
.mb-icon-connect-with-us:before {
  content: "\e918";
}
.mb-icon-agility-offers:before {
  content: "\e919";
}
.mb-icon-mercedes-me:before {
  content: "\e91a";
}
.mb-icon-contact-us:before {
  content: "\e91b";
}
.mb-icon-interested:before {
  content: "\e91c";
}
